<h1>Добавить новый ресторан</h1>
<form method="POST" action="/addRestaurant">
    <div>
        <div class="input-field col s6">
            <h6>Название ресторана</h6>
            <input id="title" type="text" class="validate" name="title">
            <label class="active" for="title"></label>
        </div>
        <div class="input-field col s6">
            <h6>Количество $$$</h6>
            <input id="value" type="text" class="validate" name="value">
            <label class="active" for="value"></label>
        </div>
        <div class="input-field col s6">
            <h6>Ссылка на картинку</h6>
            <input id="img" type="text" class="validate" name="img">
            <label class="active" for="img"></label>
        </div>
        <div class="input-field col s6">
            <h6>Описание</h6>
            <input id="desc" type="text" class="validate" name="desc">
            <label class="active" for="desc"></label>
        </div>
        <div class="input-field col s6">
            <h6>Время работы</h6>
            <div>
                <label class="active" for="timeWorkMonday">Понедельник</label>
                <input id="desc" type="text" class="validate" name="timeWorkMonday">
            </div>
            <div>
                <label class="active" for="timeWorkTuesday">Вторник</label>
                <input id="desc" type="text" class="validate" name="timeWorkTuesday">
            </div>
            <div>
                <label class="active" for="timeWorkWednesday">Среда</label>
                <input id="desc" type="text" class="validate" name="timeWorkWednesday">
            </div>
            <div>
                <label class="active" for="timeWorkThursday">Четверг</label>
                <input id="desc" type="text" class="validate" name="timeWorkThursday">
            </div>
            <div>
                <label class="active" for="timeWorkFriday">Пятница</label>
                <input id="desc" type="text" class="validate" name="timeWorkFriday">
            </div>
            <div>
                <label class="active" for="timeWorkSaturday">Суббота</label>
                <input id="desc" type="text" class="validate" name="timeWorkSaturday">
            </div>
            <div>
                <label class="active" for="timeWorkSunday">Воскресенье</label>
                <input id="desc" type="text" class="validate" name="timeWorkSunday">
            </div>

        </div>
        <div class="input-field col s6">
            <h6>Блюда:</h6>
            <input type="text" class="validate" name="dishes">
            <label for="dishes"></label>
            <input type="text" class="validate" name="dishes1">
            <label for="dishes1"></label>
            <input type="text" class="validate" name="dishes2">
            <label for="dishes2"></label>
            <input type="text" class="validate" name="dishes3">
            <label for="dishes3"></label>
            <input type="text" class="validate" name="dishes4">
            <label for="dishes4"></label>
            <input type="text" class="validate" name="dishes5">
            <label for="dishes5"></label>
            <input type="text" class="validate" name="dishes6">
            <label for="dishes6"></label>
            <input type="text" class="validate" name="dishes7">
            <label for="dishes7"></label>
            <input type="text" class="validate" name="dishes8">
            <label for="dishes8"></label>
            <input type="text" class="validate" name="dishes9">
            <label for="dishes9"></label>
            <input type="text" class="validate" name="dishes10">
            <label for="dishes10"></label>
        </div>
        <div class="input-field col s6">
            <h6>Тип кухни:</h6>
            <input id="type" type="text" class="validate" name="type">
            <label class="active" for="type"></label>
        </div>

        <div class="input-field col s6">
            <h6>Ссылка на картинку в Main</h6>
            <input id="img1" type="text" class="validate" name="img1">
            <label class="active" for="img1"></label>
        </div>
        <div class="input-field col s6">
            <h6>Ссылка на картинку в Main</h6>
            <input id="img2" type="text" class="validate" name="img2">
            <label class="active" for="img2"></label>
        </div>
        <div class="input-field col s6">
            <h6>Ссылка на картинку в Main</h6>
            <input id="img3" type="text" class="validate" name="img3">
            <label class="active" for="img3"></label>
        </div>
        <div class="input-field col s6">
            <h6>Ссылка на картинку в Main</h6>
            <input id="img4" type="text" class="validate" name="img4">
            <label class="active" for="img4"></label>
        </div>

        <button type="submit" class="btn btn-small">Добавить</button>
    </div>
</form>