
    <div class="col s12">
    
    
    {{!-- Вход --}}

 <form method="POST" action="/login/reset">
  <div class="col s12 auth">
    <h3>Забыли пароль?</h3>
  </div>
    <div class="row">
            <div class="input-field col s6">
               <input id="email" type="email" class="validate" name="email">
               <label for="email">Email</label>
            </div>
         </div>
         <button type="submit" class="btn btn-small">Сбросить</button>
     </div>
</form>
